 /* CSS Animation for Interactive UI - Menu Button
    
/* Demo Section */
section.demo {
    width: 400px;
    margin: 0px 100px;
}

.menu {
    width: 100px;
    height: 50px;
}

.bar-1, .bar-2, .bar-3 {
    width: 100px;
    height: 10px;
    background-color: black;
}

.new-bar {
    width: 200px;
    height: 10px;
    background-color: black;
}

/* CSS Animation */

/* ------------ Just a Test ----------------- */
.test {
    /* Triggers Animation */
    animation: increase-width 1.0s ease-out;
}

@keyframes increase-width {
    0%      {width: 100px;}
    100%    {width: 200px;}
}

.new-bar {
    /* Final State */
    width: 200px;
    height: 10px;
    background-color: black;
} 
/* ----------------------------------- */

/* ------------ Transform Top Bar ----------- */

.transform-top-bar {
    /* Triggers Animation */
animation: transform-top-bar 0.7s ease-in;
}

@keyframes transform-top-bar {
    0%      {transform: rotate(0deg); width: 100px;}
    100%    {transform: rotate(-45deg); width: 50px;}
}

.transformed-top-bar {
    transform: rotate(-45deg);
    width: 50px;
    position: absolute;
    left: -9px;
    top: -14px;
}

/* ------------ Return Top Bar ----------- */

.return-top-bar {
    /* Triggers Animation */
animation: return-top-bar 0.7s ease-in;
}

@keyframes return-top-bar {
    0%      {transform: rotate(-45deg); width: 50px;}
    100%    {transform: rotate(0deg); width: 100px;}
}

/* ------------ Transform Bottom Bar ----------- */

.transform-bottom-bar {
    /* Triggers Animation */
animation: transform-bottom-bar 0.7s ease-in;
}

@keyframes transform-bottom-bar {
    0%      {transform: rotate(0deg); width: 100px;}
    100%    {transform: rotate(45deg); width: 50px;}
}

.transformed-bottom-bar {
    transform: rotate(45deg);
    width: 50px;
    position: absolute;
    left: -9px;
    top: 5px;
}

/* ------------ Return Bottom Bar ----------- */

.return-bottom-bar {
    /* Triggers Animation */
animation: return-top-bar 0.7s ease-in;
}

@keyframes return-bottom-bar {
    0%      {width: 50px;}
    75%     {transform: rotate(-90deg);}
    100%    {width: 100px; transform: rotate(0deg);}
}


/* ------------ Rotate Menu 90 degrees right ----------------- */
.rotate-90-right {
/* Triggers Animation */
    animation: rotate-90-right 0.7s ease-out;
}

@keyframes rotate-90-right {
    0%      {transform: rotate(0deg);}
    100%    {transform: rotate(90deg);}
}

.menu-90-right {
    /* Final State */
    transform: rotate(90deg);
}

/* ------------ Rotate Menu 90 degrees left ----------- */
.rotate-90-left {
/* Triggers Animation */
    animation: rotate-90-left 0.7s ease-out;
}

@keyframes rotate-90-left {
    0%      {transform: rotate(90deg);}
    100%    {transform: rotate(0deg);}
}

.menu-90-left {
    /* Final State */
    transform: rotate(0deg);
}

